
.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  background: #343a40;
 
}

/* footer {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
} */
.card {
  min-height: 200px;
  margin-top: auto;
  width: 300px;
  display: flex;
  transition: 0.3s;
  
  
}


.custom-img {
  height: 300px;
  object-fit: cover;
  width: 300px;
  background-size: cover;
  background-repeat:no-repeat;
  display: inline-flex;


  
}

.social-container {
margin-left: -60px;
  padding: 25px 50px;
}

a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translate(-2px);
}
a.facebook {
  color: #4968ad;
}
a.instagram {
  color:#bc2a8d;
}
.social-title {
  font-size: 32px;
  font-weight: 500;
  font-style: italic ;
  color: chocolate;
  text-decoration: chocolate underline;

}

/* .form-control {

  justify-content: right;
  align-items: right;
} */

.form-controllop {
  width: 50% !important;
}

.carousel-setting {
  position: relative;
    left: 0px;
    padding: -30px;
    margin: -40px;
  
     
}

.legend {
  border-bottom: 1px solid #c5c5c5;
  margin: 0 0 20px;
    padding: 0 0 10px;
    width: 29%;
    box-sizing: border-box;
    font-weight: 300;
    line-height: 1.2;
    font-size: 1.8rem;
    


}

.App {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.button {
  background: none;
  color: #ffa260;
  border:2px solid;
  font-size: 1em;
  transition: all 0.25s;
}
.button:hover {
  border-color:#32cd32;
  color: antiquewhite;
  box-shadow: 0 0.5em 0.5em -0.4em #32cd32;
  transform: translateY(-0.25em);
  cursor: pointer;
}


.card-header {
  text-align: center;
  padding: 50px 10px;
 
  color: #fff;
}

.card-body {
  padding: 30px 20px;
  text-align: center;
  font-size: 18px;
}

.card-body .btn {
  display: block;
  color: #fff;
  text-align: center;
  
  margin-top: 30px;
  text-decoration: none;
  padding: 10px 5px;
}

.card:hover {
  transform: scale(1.05);
  /* box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25); */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
/* .text {
 

} */

.image-helper {
  width: 100px;

}
.row-1 {
  width: 100vw;
  display:grid;

  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  grid-gap: 30px;
  
}

/* @media all and (max-width : 700px){
.row-1{
  grid-template-columns: 1fr;
}

} */

.container{
  display : grid;
  grid-template-columns: .7fr .3fr;
}


